body {
  background: url(https://previews.123rf.com/images/boikoanastasiia/boikoanastasiia1901/boikoanastasiia190100010/126313808-seamless-pattern-with-clouds-lightning-snow-sun-on-a-light-blue-background-cute-weather-symbols-prin.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  padding: 80px;
  border-radius: 30px;
  background-color: azure;
}

Button :hover {
  background-color: black;
}